global:
  scrape_interval:     10s
  evaluation_interval: 10s

alerting:
  alertmanagers:
  - static_configs:
    - targets:
      - alertmanager:9093

rule_files:
  - "/etc/prometheus/alert_rules.d/prometheus.yml"
  - "/etc/prometheus/alert_rules.d/disk.yml"
  - "/etc/prometheus/alert_rules.d/memory.yml"
  - "/etc/prometheus/alert_rules.d/time_sync.yml"
  - "/etc/prometheus/alert_rules.d/la.yml"
  - "/etc/prometheus/alert_rules.d/kubernetes_exporter.yml"
  - "/etc/prometheus/alert_rules.d/kubernetes_http.yml"
  - "/etc/prometheus/alert_rules.d/kubernetes_node_exporter.yml"

scrape_configs:
  - job_name: 'prometheus prod2 local'
    static_configs:
      - targets: ['prometheus-prod2:9090']
        labels:
          host_priority: 'P5'
          server_env: 'prod2'
          hostname: 'grafana.{{ REMOTE_HOST }}'
          project: '{{ PROJECT_NAME }}'


  - job_name: 'prometheus_federate_kuber prod2'
    scrape_interval: 10s
    scheme: https
    tls_config:
      insecure_skip_verify: true
    basic_auth:
      username: monitoring
      password_file: '/etc/prometheus/secrets/federate_kuber_prod2'
    honor_labels: true
    metrics_path: '/federate'
    params:
      'match[]':
        - '{job=~"[a-z].*"}'
    static_configs:
      - targets: ['prometheus.prod2.{{ REMOTE_HOST }}:443']
        labels:
          host_priority: 'P5'
          server_env: 'prod2'
          cluster_name: 'my-cluster-name'
    metric_relabel_configs:
    - source_labels: [pod_name]
      regex: '(.*)-[0-9a-z]+'
      target_label: service
      replacement: '$1'
    - source_labels: [node_name]
      regex: '(.*):[0-9]+'
      target_label: hostname
      replacement: '$1'

