global:
# resolve_timeout: 5m

route:
  group_by: [instance, alertname, priority, name]
  group_wait: 9s
  group_interval: 9s
  repeat_interval: 8737h
  receiver: opsgenie

  routes:
  - receiver: opsgenie_monitoring_team
    group_by: [instance, alertname, priority, name, master_host, mountpoint]
    match_re:
      name: ".*opsgenie_.*"
    repeat_interval: 8737h

  - receiver: opsgenie_backup_team
    group_by: [instance, alertname, priority, name, master_host, mountpoint]
    match_re:
      name: ".*rsnapshot_.*"
    repeat_interval: 8737h

  - receiver: opsgenie_monitoring_team
    group_by: [instance, alertname, priority, name, master_host, mountpoint]
    match_re:
      alertname: ".*exporter have new errors.*"
    repeat_interval: 8737h

  - receiver: opsgenie_monitoring_team
    group_by: [instance, alertname, priority, name, master_host, mountpoint]
    match_re:
      alertname: ".*monit_collector have new errors.*"
    repeat_interval: 8737h

  - receiver: opsgenie
    group_by: [instance, alertname, priority, name, master_host, mountpoint]
    continue: true
    match_re:
      name: ".*"
    repeat_interval: 8737h

# - receiver: example_mail
#   group_by: [instance, alertname, priority, name, master_host, mountpoint]
#   continue: true
#   match:
#     team: test
#   repeat_interval: 8737h

# - receiver: example_slack
#   group_by: [instance, alertname, priority, name]
#   continue: true
#   match_re:
#     alertname: ".*"
#   repeat_interval: 8737h


inhibit_rules:
  - source_match_re:
       alertname: '^host\s+down\s+P[1-5]$'
    target_match_re:
       alertname: '.*'
   #   alertname: '^[a-zA-Z0-9_]+\s+exporter\s+down\s+P[1-5]$'
    equal: ['hostname']


receivers:
- name: opsgenie
  opsgenie_configs:
    - api_key: {{ OPSGENIE_API_KEY }}
      teams: {{ OPSGENIE_TEAM }}
      message: "{{ .GroupLabels.instance }} | {{ .CommonAnnotations.summary }}"
      priority: "{{ .CommonAnnotations.priority }}"

- name: opsgenie_monitoring_team
  opsgenie_configs:
    - api_key: {{ OPSGENIE_API_KEY }}
      teams: monitoring
      message: "{{ .GroupLabels.instance }} | {{ .CommonAnnotations.summary }}"
      priority: "{{ .CommonAnnotations.priority }}"

- name: opsgenie_backup_team
  opsgenie_configs:
    - api_key: {{ OPSGENIE_API_KEY }}
      teams: backup
      message: "{{ .GroupLabels.instance }} | {{ .CommonAnnotations.summary }}"
      priority: "{{ .CommonAnnotations.priority }}"

#- name: example_mail
#  email_configs:
#    - to: test@example.com
#      from: prometheus@monitoring.example.com
#      smarthost: postfix-relay:25
#      require_tls: false
#      send_resolved: true

#- name: example_slack
#  slack_configs:
#    - api_url: https://hooks.slack.com/services/MY_ID
#      username: prometheus
#      title: "host: '{{ .GroupLabels.instance }}' | alert: '{{ .CommonAnnotations.summary }}'"
#      text: "{{ .CommonAnnotations.description }}"
#      title_link: "{{ .CommonAnnotations.grafana }}"
#      send_resolved: true

