global:
# resolve_timeout: 5m

route:
  group_by: {{ ALERTMANAGER_GROUP_BY }}
  group_wait: 9s
  group_interval: 9s
  repeat_interval: 8737h
  receiver: blackhole

  routes:
# - receiver: blackhole
#   group_by: {{ ALERTMANAGER_GROUP_BY }}
#   match_re:
#     server_env: "prod[2-3]"
#   repeat_interval: 8737h

# - receiver: example_mail
#   group_by: {{ ALERTMANAGER_GROUP_BY }}
#   match:
#     project: "test"
#   repeat_interval: 8737h

  - receiver: opsgenie_monitoring_team
    group_by: {{ ALERTMANAGER_GROUP_BY }}
    match_re:
      team: "monitoring"
    repeat_interval: 8737h

  - receiver: opsgenie_backup_team
    group_by: {{ ALERTMANAGER_GROUP_BY }}
    match_re:
      team: "backup"
    repeat_interval: 8737h

  - receiver: opsgenie
    group_by: {{ ALERTMANAGER_GROUP_BY }}
    continue: true
    repeat_interval: 8737h

# - receiver: example_mail
#   group_by: {{ ALERTMANAGER_GROUP_BY }}
#   continue: true
#   match_re:
#     server_env: "prod[0-9]*"
#   repeat_interval: 8737h

# - receiver: example_slack
#   group_by: {{ ALERTMANAGER_GROUP_BY }}
#   continue: true
#   match_re:
#     server_env: "prod[0-9]*"
#   repeat_interval: 8737h


inhibit_rules:
  - source_match_re:
       alertname: '^host\s+down.*$'
    target_match_re:
       alertname: '.*'
    equal: ['hostname']
  - source_match_re:
       alertname: '^mysqld\s+exporter\s+down.*'
    target_match_re:
       alertname: '^mysql\s+repliaction\s+absent.*'
    equal: ['hostname']
  - source_match_re:
       alertname: '^host\s+down.*'
    target_match_re:
       alertname: '^prometheus\s+dialer\s+has\s+to\s+many\s+connection\s+errors.*'
  - source_match_re:
       alertname: '.*_exporter\s+down.*'
    target_match_re:
       alertname: '^prometheus\s+dialer\s+has\s+to\s+many\s+connection\s+errors.*'


receivers:
- name: blackhole

- name: opsgenie
  opsgenie_configs:
    - api_key: {{ OPSGENIE_API_KEY }}
      teams: {{ OPSGENIE_TEAM }}
      message: "{{ .GroupLabels.hostname }} | {{ .CommonAnnotations.summary }}"
      priority: "{{ .CommonAnnotations.priority }}"

- name: opsgenie_monitoring_team
  opsgenie_configs:
    - api_key: {{ OPSGENIE_API_KEY }}
      teams: monitoring
      message: "{{ .GroupLabels.hostname }} | {{ .CommonAnnotations.summary }}"
      priority: "{{ .CommonAnnotations.priority }}"

- name: opsgenie_backup_team
  opsgenie_configs:
    - api_key: {{ OPSGENIE_API_KEY }}
      teams: backup
      message: "{{ .GroupLabels.hostname }} | {{ .CommonAnnotations.summary }}"
      priority: "{{ .CommonAnnotations.priority }}"

#- name: example_mail
#  email_configs:
#    - to: test@example.com
#      from: alertmanager@grafana.{{ REMOTE_HOST }}
#      smarthost: postfix-relay:25
#      require_tls: false
#      send_resolved: true

#- name: example_mail_templeted
#  email_configs:
#    - to: test@example.com
#      from: alertmanager@grafana.{{ REMOTE_HOST }}
#      smarthost: postfix-relay:25
#      require_tls: false
#      send_resolved: true
#      headers:
#        subject: "status: '{{ .Status }}' | host: '{{ .GroupLabels.hostname }}' | alert: '{{ .CommonAnnotations.summary }}'"
#      text: "{{ .CommonAnnotations.description }}"
#      html: "<p>{{ .CommonAnnotations.description }}</p>"


#- name: example_aws_ses_mail
#  email_configs:
#    - to: test@example.com
#      from: alertmanager@grafana.aws.example.com
#      smarthost: email-smtp.us-east-1.amazonaws.com:587
#      auth_username: '00000000000000000000'
#      auth_password: '00000000000000000000000000000000000000000000'
#      require_tls: true
#      send_resolved: true

#- name: example_slack
#  slack_configs:
#    - api_url: {{ SLACK_API_URL }}
#      username: prometheus
#      title: "host: '{{ .GroupLabels.hostname }}' | alert: '{{ .CommonAnnotations.summary }}'"
#      text: "{{ .CommonAnnotations.description }}"
#      title_link: "{{ .CommonAnnotations.grafana }}"
#      send_resolved: true

