source ./secrets

src='prometheus-prod/configs/alert_rules.d_examples/'
dst='prometheus-prod/configs/alert_rules.d/'

configs=$(ls ${src})

for conf in $configs
    do
    cat ${src}${conf} | \
    sed -e "s@{{ GRAFANA_ALL_ALERTS_DASHBOARD }}@$GRAFANA_ALL_ALERTS_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_UP_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_UP_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_SCRAPE_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_SCRAPE_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_SCRAPE_TEXTFILE_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_SCRAPE_TEXTFILE_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_SPACE_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_SPACE_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_INODES_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_INODES_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_READONLY_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_READONLY_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_LA_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_LA_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_MEMORY_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_MEMORY_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_TIME_SYNC_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_TIME_SYNC_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_MONIT_DASHBOARD }}@$GRAFANA_MONIT_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_MONIT_CHECK_STATUS_DASHBOARD }}@$GRAFANA_MONIT_CHECK_STATUS_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_MYSQL_DASHBOARD }}@$GRAFANA_MYSQL_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_PROXYSQL_DASHBOARD }}@$GRAFANA_PROXYSQL_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_DOCKER_EXPORTER_DASHBOARD }}@$GRAFANA_DOCKER_EXPORTER_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_CLOUDWATCH_EXPORTER_DASHBOARD }}@$GRAFANA_CLOUDWATCH_EXPORTER_DASHBOARD@g" | \
    sed -e "s@{{ WIKI_DISK_AVAILABLE_SPACE }}@$WIKI_DISK_AVAILABLE_SPACE@g" | \
    sed -e "s@{{ WIKI_MONITORING_ACCESS }}@$WIKI_MONITORING_ACCESS@g" \
    > ${dst}${conf}
done

