source ./secrets

src='prometheus-prod/configs/alert_rules.d_examples/'
dst='prometheus-prod/configs/alert_rules.d/'

configs=$(ls ${src})

for conf in $configs
    do
    cat ${src}${conf} | \
    sed -e "s@{{ GRAFANA_ALL_ALERTS_DASHBOARD }}@$GRAFANA_ALL_ALERTS_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_HTTP_STATUS_DASHBOARD }}@$GRAFANA_HTTP_STATUS_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_HTTP_SSL_EXPIRATION_DASHBOARD }}@$GRAFANA_HTTP_SSL_EXPIRATION_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_UP_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_UP_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_SCRAPE_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_SCRAPE_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_SCRAPE_TEXTFILE_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_SCRAPE_TEXTFILE_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_SPACE_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_SPACE_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_INODES_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_INODES_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_READONLY_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_READONLY_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_LA_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_LA_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_MEMORY_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_MEMORY_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NODE_EXPORTER_TIME_SYNC_DASHBOARD }}@$GRAFANA_NODE_EXPORTER_TIME_SYNC_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_MONIT_DASHBOARD }}@$GRAFANA_MONIT_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_MONIT_CHECK_STATUS_DASHBOARD }}@$GRAFANA_MONIT_CHECK_STATUS_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_MONIT_RUNNING_DASHBOARD }}@$GRAFANA_MONIT_RUNNING_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_KUBERNETES_EXPORTER_UP_DASHBOARD }}@$GRAFANA_KUBERNETES_EXPORTER_UP_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_KUBERNETES_EXPORTER_SCRAPE_DASHBOARD }}@$GRAFANA_KUBERNETES_EXPORTER_SCRAPE_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_KUBERNETES_EXPORTER_NODE_CONDITION_DASHBOARD }}@$GRAFANA_KUBERNETES_EXPORTER_NODE_CONDITION_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_KUBERNETES_EXPORTER_POD_PHASE_DASHBOARD }}@$GRAFANA_KUBERNETES_EXPORTER_POD_PHASE_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_KUBERNETES_EXPORTER_CONTAINER_RESTARTS_DASHBOARD }}@$GRAFANA_KUBERNETES_EXPORTER_CONTAINER_RESTARTS_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_KUBERNETES_EXPORTER_CONTAINER_READY_DASHBOARD }}@$GRAFANA_KUBERNETES_EXPORTER_CONTAINER_READY_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_KUBERNETES_EXPORTER_HTTP_CHECK_DASHBOARD }}@$GRAFANA_KUBERNETES_EXPORTER_HTTP_CHECK_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_KUBERNETES_NODE_EXPORTER_UP_DASHBOARD }}@$GRAFANA_KUBERNETES_NODE_EXPORTER_UP_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_KUBERNETES_NODE_EXPORTER_SCRAPE_DASHBOARD }}@$GRAFANA_KUBERNETES_NODE_EXPORTER_SCRAPE_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_KUBERNETES_NODE_EXPORTER_LA_DASHBOARD }}@$GRAFANA_KUBERNETES_NODE_EXPORTER_LA_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_MYSQL_DASHBOARD }}@$GRAFANA_MYSQL_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_PROXYSQL_DASHBOARD }}@$GRAFANA_PROXYSQL_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_DOCKER_EXPORTER_UP_DASHBOARD }}@$GRAFANA_DOCKER_EXPORTER_UP_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_DOCKER_EXPORTER_SCRAPE_DASHBOARD }}@$GRAFANA_DOCKER_EXPORTER_SCRAPE_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_DOCKER_EXPORTER_CONTAINER_STATE_DASHBOARD }}@$GRAFANA_DOCKER_EXPORTER_CONTAINER_STATE_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_CLOUDWATCH_EXPORTER_DASHBOARD }}@$GRAFANA_CLOUDWATCH_EXPORTER_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_POSTGRES_EXPORTER_UP_DASHBOARD }}@$GRAFANA_POSTGRES_EXPORTER_UP_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_POSTGRES_EXPORTER_CONNECT_DASHBOARD }}@$GRAFANA_POSTGRES_EXPORTER_CONNECT_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_POSTGRES_EXPORTER_SCRAPE_DASHBOARD }}@$GRAFANA_POSTGRES_EXPORTER_SCRAPE_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_POSTGRES_EXPORTER_CONNECTIONS_DASHBOARD }}@$GRAFANA_POSTGRES_EXPORTER_CONNECTIONS_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_PROMETHEUS_UP_DASHBOARD }}@$GRAFANA_PROMETHEUS_UP_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_PROMETHEUS_RELOAD_DASHBOARD }}@$GRAFANA_PROMETHEUS_RELOAD_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_PROMETHEUS_DIALER_DASHBOARD }}@$GRAFANA_PROMETHEUS_DIALER_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_PROMETHEUS_DROPPED_NOTIFICATIONS_DASHBOARD }}@$GRAFANA_PROMETHEUS_DROPPED_NOTIFICATIONS_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_PINGDOM_EXPORTER_UP_DASHBOARD }}@$GRAFANA_PINGDOM_EXPORTER_UP_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_PINGDOM_EXPORTER_SCRAPE_DASHBOARD }}@$GRAFANA_PINGDOM_EXPORTER_SCRAPE_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_PINGDOM_EXPORTER_HTTP_STATUS_DASHBOARD }}@$GRAFANA_PINGDOM_EXPORTER_HTTP_STATUS_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NGINX_EXPORTER_UP_DASHBOARD }}@$GRAFANA_NGINX_EXPORTER_UP_DASHBOARD@g" | \
    sed -e "s@{{ GRAFANA_NGINX_EXPORTER_SCRAPE_DASHBOARD }}@$GRAFANA_NGINX_EXPORTER_SCRAPE_DASHBOARD@g" | \
    sed -e "s@{{ WIKI_DISK_AVAILABLE_SPACE }}@$WIKI_DISK_AVAILABLE_SPACE@g" | \
    sed -e "s@{{ WIKI_MONITORING_ACCESS }}@$WIKI_MONITORING_ACCESS@g" \
    > ${dst}${conf}
done

