source ./secrets

cat ./prometheus-prod/configs/prometheus.yml.example | \
sed -e "s@{{ REMOTE_HOST }}@$REMOTE_HOST@g" | \
sed -e "s@{{ LOCAL_IP }}@$LOCAL_IP@g" | \
sed -e "s@{{ PROJECT_NAME }}@$PROJECT_NAME@g" \
> ./prometheus-prod/configs/prometheus.yml

cat ./alertmanager/config.yml.example | \
sed -e "s@{{ OPSGENIE_API_KEY }}@$OPSGENIE_API_KEY@g" | \
sed -e "s@{{ OPSGENIE_TEAM }}@$OPSGENIE_TEAM@g" | \
sed -e "s@{{ ALERTMANAGER_GROUP_BY }}@$ALERTMANAGER_GROUP_BY@g" | \
sed -e "s@{{ REMOTE_HOST }}@$REMOTE_HOST@g" \
> ./alertmanager/config.yml

cat ./docker-compose.yml.example | \
sed -e "s@{{ REMOTE_HOST }}@$REMOTE_HOST@g" \
> ./docker-compose.yml

bash ./add_prometheus_alerts.sh.example

# add dev prometheus
cat ./prometheus-dev/configs/prometheus.yml.example | \
sed -e "s@{{ REMOTE_HOST }}@$REMOTE_HOST@g" | \
sed -e "s@{{ LOCAL_IP }}@$LOCAL_IP@g" | \
sed -e "s@{{ PROJECT_NAME }}@$PROJECT_NAME@g" \
> ./prometheus-dev/configs/prometheus.yml

rsync -a --delete --exclude="*.md" ./prometheus-prod/configs/alert_rules.d/ prometheus-dev/configs/alert_rules.d/

cat ./nginx/conf.d/default.conf.example | \
sed -e "s@{{ REMOTE_HOST }}@$REMOTE_HOST@g" \
> nginx/conf.d/default.conf

cat ./postfix-relay/main.cf.example | \
sed -e "s@{{ REMOTE_HOST }}@$REMOTE_HOST@g" \
> postfix-relay/main.cf

echo "GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}" > ./grafana/env_secrets

#echo "GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
#GF_METRICS_BASIC_AUTH_USERNAME=${GRAFANA_METRICS_BASIC_AUTH_USERNAME}
#GF_METRICS_BASIC_AUTH_PASSWORD=${GRAFANA_METRICS_BASIC_AUTH_PASSWORD}
#" > ./grafana/env_secrets

if [ -f "./nginx/conf.d/htpasswd admin" ]
    then htpasswd -b ./nginx/conf.d/htpasswd admin $GRAFANA_ADMIN_PASSWORD
    else htpasswd -b -c ./nginx/conf.d/htpasswd admin $GRAFANA_ADMIN_PASSWORD
fi

cat ./grafana/env.example | \
sed -e "s@{{ REMOTE_HOST }}@$REMOTE_HOST@g" \
> ./grafana/env


# Example prometheus which get data from kuber
#HTTP_AUTH=$(htpasswd -b -n $PROMETHEUS_FEDERATE_KUBER_PROD2_USER $PROMETHEUS_FEDERATE_KUBER_PROD2_PASSWORD)
#cat examples/kubernetes_cluster/05_prometheus_secret.yml.example | \
#sed -e "s@{{ HTTP_AUTH }}@$HTTP_AUTH@g" \
#> examples/kubernetes_cluster/05_prometheus_secret.yml
#
#cat examples/kubernetes_cluster/06_prometheus_ingress.yml.example | \
#sed -e "s@{{ REMOTE_HOST }}@$REMOTE_HOST@g" \
#> examples/kubernetes_cluster/06_prometheus_ingress.yml
#
#echo $PROMETHEUS_FEDERATE_KUBER_PROD2_PASSWORD > ./prometheus-prod2/secrets/federate_kuber_prod2
#
#cat ./prometheus-prod2/configs/prometheus.yml.example | \
#sed -e "s@{{ REMOTE_HOST }}@$REMOTE_HOST@g" | \
#sed -e "s@{{ LOCAL_IP }}@$LOCAL_IP@g" | \
#sed -e "s@{{ PROJECT_NAME }}@$PROJECT_NAME@g" \
#> ./prometheus-prod2/configs/prometheus.yml

#rsync -a --delete --exclude="*.md" ./prometheus-prod/configs/alert_rules.d/ prometheus-prod2/configs/alert_rules.d/

 
#echo "AWS_ACCESS_KEY_ID=${prod_AWS_ACCESS_KEY_ID}
#AWS_SECRET_ACCESS_KEY=${prod_AWS_SECRET_ACCESS_KEY}" \
#> ./cloudwatch-exporter_prod/env_secrets

#echo "DATA_SOURCE_NAME=${postgres_exporter_prod_SECRET}" \
#> ./postgres_exporter_prod/env_secrets

#echo "REDIS_ADDR=${redis_exporter_prod_SECRET}" \
#> ./redis_exporter_prod/env_secrets

