# all
OPSGENIE_TEAM='MY_TEAM'
# if you have example.com domain - you should create A-records for prometheus.example.com, alertmanager.example.com, grafana.example.com, open 80 and 443 ports
REMOTE_HOST='my_domain.com'
PROJECT_NAME='my_project'
LOCAL_IP='192.168.1.2'
GRAFANA_ADMIN_PASSWORD='MY_GRAFANA_ADMIN_PASSWORD'
OPSGENIE_API_KEY='MY_API_KEY'
WIKI_HOST='my_wiki_host.com'

export WIKI_MONITORING_ACCESS="https://${WIKI_HOST}/display/${PROJECT_NAME}/Monitoring"
export WIKI_DISK_AVAILABLE_SPACE="https://${WIKI_HOST}/display/${PROJECT_NAME}/monitoring+alerts+fixing#monitoringalertsfixing-freediskspacetolow"
export GRAFANA_ALL_ALERTS_DASHBOARD="https://${REMOTE_HOST}/d/bVHuLEamz/all-fails"
export GRAFANA_NODE_EXPORTER_UP_DASHBOARD="https://${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=129\&fullscreen\&orgId=1\&var-server_env={{ $labels.server_env }}\&var-project={{ $labels.project }}\&var-hostname={{ $labels.hostname }}\&var-mountpoint={{ $labels.mountpoint }}"
export GRAFANA_NODE_EXPORTER_SCRAPE_DASHBOARD="https://${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=130\&fullscreen\&orgId=1\&var-server_env={{ $labels.server_env }}\&var-project={{ $labels.project }}\&var-hostname={{ $labels.hostname }}\&var-mountpoint={{ $labels.mountpoint }}"
export GRAFANA_NODE_EXPORTER_SCRAPE_TEXTFILE_DASHBOARD="https://${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=131\&fullscreen\&orgId=1\&var-server_env={{ $labels.server_env }}\&var-project={{ $labels.project }}\&var-hostname={{ $labels.hostname }}\&var-mountpoint={{ $labels.mountpoint }}"
export GRAFANA_NODE_EXPORTER_SPACE_DASHBOARD="https://${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=127\&fullscreen\&orgId=1\&var-server_env={{ $labels.server_env }}\&var-project={{ $labels.project }}\&var-hostname={{ $labels.hostname }}\&var-mountpoint={{ $labels.mountpoint }}"
export GRAFANA_NODE_EXPORTER_INODES_DASHBOARD="https://${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=126\&fullscreen\&orgId=1\&var-server_env={{ $labels.server_env }}\&var-project={{ $labels.project }}\&var-hostname={{ $labels.hostname }}\&var-mountpoint={{ $labels.mountpoint }}"
export GRAFANA_NODE_EXPORTER_READONLY_DASHBOARD="https://${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=38\&fullscreen\&orgId=1\&var-server_env={{ $labels.server_env }}\&var-project={{ $labels.project }}\&var-hostname={{ $labels.hostname }}\&var-mountpoint={{ $labels.mountpoint }}"
export GRAFANA_MONIT_DASHBOARD="https://${REMOTE_HOST}/d/RGx4RH-ik/monit-exporter?orgId=1\&var-node={{ $labels.instance }}"
export GRAFANA_MYSQL_DASHBOARD="https://${REMOTE_HOST}/d/RGx4RH-ik/monit-exporter?orgId=1\&var-node={{ $labels.instance }}"
export GRAFANA_PROXYSQL_DASHBOARD="https://${REMOTE_HOST}/d/RGx4RH-ik/proxysql-overview?orgId=1\&var-proxysql={{ $labels.instance }}\&var-hostgroup={{ $labels.hostgroup }}"
export GRAFANA_DOCKER_EXPORTER_DASHBOARD="https://${REMOTE_HOST}/d/Y6Pw9sNWz/containers-metrics-docker_exporter?orgId=1\&var-instance={{ $labels.instance }}\&var-container_name={{ $labels.container_name }}"
export GRAFANA_CLOUDWATCH_EXPORTER_DASHBOARD="https://${REMOTE_HOST}/d/bVHuLEamz/all-fails"

#CUSTOMER_MONITORING_SLACK='https://hooks.slack.com/services/000000000/000000000/000000000000000000000000'
#GRAFANA_METRICS_BASIC_AUTH_USERNAME="monitoring"
#GRAFANA_METRICS_BASIC_AUTH_PASSWORD="MY_GRAFANA_METRICS_BASIC_AUTH_PASSWORD"

# prod
#prod_AWS_ACCESS_KEY_ID='00000000000000000000'
#prod_AWS_SECRET_ACCESS_KEY='0000000000000000000000000000000000000000'
#prod_AWS_SES_SMTP_USER='00000000000000000000'
#prod_AWS_SES_SMTP_PASSWORD='00000000000000000000000000000000000000000000'

#postgres_exporter_prod_SECRET='postgresql://postgres_exporter:000000000000@prod-rds.aws.example.com:5432/postgres'
#redis_exporter_prod_SECRET='redis://prod-redis.cache.amazonaws.com:6379'
