GRAFANA_ADMIN_PASSWORD="MY_GRAFANA_ADMIN_PASSWORD"
OPSGENIE_API_KEY="MY_API_KEY"
#GRAFANA_METRICS_BASIC_AUTH_USERNAME="monitoring"
#GRAFANA_METRICS_BASIC_AUTH_PASSWORD="MY_GRAFANA_METRICS_BASIC_AUTH_PASSWORD"
