# all
OPSGENIE_TEAM='MY_TEAM'
# if you have example.com domain - you should create A-records for prometheus.example.com, alertmanager.example.com, grafana.example.com, open 80 and 443 ports
REMOTE_HOST='my_domain.com'
PROJECT_NAME='my_project'
PROJECT_CODE='MYPR'
LOCAL_IP='192.168.1.2'
GRAFANA_ADMIN_PASSWORD='MY_GRAFANA_ADMIN_PASSWORD'
OPSGENIE_API_KEY='MY_API_KEY'
WIKI_HOST='my_wiki_host.com'
ALERTMANAGER_GROUP_BY='[hostname, instance, alertname, priority, name, master_host, mountpoint]'

# do not forget to quote '&', '$' and other character for sed, example: '\&'
export WIKI_MONITORING_ACCESS="https://${WIKI_HOST}/display/${PROJECT_CODE}/Access#Access-Grafana,Prometheus,Alertmanager"
export WIKI_DISK_AVAILABLE_SPACE="https://${WIKI_HOST}/display/${PROJECT_NAME}/monitoring+alerts+fixing#monitoringalertsfixing-freediskspacetolow"
export GRAFANA_ALL_ALERTS_DASHBOARD="https://grafana.${REMOTE_HOST}/d/bVHuLEamz/all-fails"
export GRAFANA_HTTP_STATUS_DASHBOARD="https://grafana.${REMOTE_HOST}/d/eXqpy5DWk/http-checks-blackbox_exporter?panelId=2\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-instance={{ \$labels.instance }}"
export GRAFANA_HTTP_SSL_EXPIRATION_DASHBOARD="https://grafana.${REMOTE_HOST}/d/eXqpy5DWk/http-checks-blackbox_exporter?panelId=7\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-instance={{ \$labels.instance }}"
export GRAFANA_NODE_EXPORTER_UP_DASHBOARD="https://grafana.${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=129\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}"
export GRAFANA_NODE_EXPORTER_SCRAPE_DASHBOARD="https://grafana.${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=130\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}"
export GRAFANA_NODE_EXPORTER_SCRAPE_TEXTFILE_DASHBOARD="https://grafana.${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=131\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}"
export GRAFANA_NODE_EXPORTER_SPACE_DASHBOARD="https://grafana.${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=127\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}\&var-mountpoint={{ \$labels.mountpoint }}"
export GRAFANA_NODE_EXPORTER_INODES_DASHBOARD="https://grafana.${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=126\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}\&var-mountpoint={{ \$labels.mountpoint }}"
export GRAFANA_NODE_EXPORTER_READONLY_DASHBOARD="https://grafana.${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=38\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}\&var-mountpoint={{ \$labels.mountpoint }}"
export GRAFANA_NODE_EXPORTER_LA_DASHBOARD="https://grafana.${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=21\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}"
export GRAFANA_NODE_EXPORTER_MEMORY_DASHBOARD="https://grafana.${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=27\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}"
export GRAFANA_NODE_EXPORTER_TIME_SYNC_DASHBOARD="https://grafana.${REMOTE_HOST}/d/FymDFbpZk/node_exporter?panelId=132\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}"
export GRAFANA_MONIT_DASHBOARD="https://grafana.${REMOTE_HOST}/d/RGx4RH-ik/monit-exporter?orgId=1\&var-node={{ \$labels.instance }}"
export GRAFANA_MONIT_CHECK_STATUS_DASHBOARD="https://grafana.${REMOTE_HOST}/d/RGx4RH-ik/monit-exporter?panelId=4\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}\&var-limit=40"
export GRAFANA_MONIT_RUNNING_DASHBOARD="https://grafana.${REMOTE_HOST}/d/RGx4RH-ik/monit-exporter?panelId=44\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}"
export GRAFANA_KUBERNETES_EXPORTER_UP_DASHBOARD="https://grafana.${REMOTE_HOST}/d/1xIGyoZZz/eks-metrics?orgId=1\&var-server_env={{ \$labels.server_env }}\&panelId=83\&fullscreen"
export GRAFANA_KUBERNETES_EXPORTER_SCRAPE_DASHBOARD="https://grafana.${REMOTE_HOST}/d/1xIGyoZZz/eks-metrics?orgId=1\&var-server_env={{ \$labels.server_env }}\&panelId=145\&fullscreen"
export GRAFANA_KUBERNETES_EXPORTER_NODE_CONDITION_DASHBOARD="https://grafana.${REMOTE_HOST}/d/1xIGyoZZz/eks-metrics?orgId=1\&var-server_env={{ \$labels.server_env }}\&var-node_name={{ \$labels.node_name }}\&panelId=103\&fullscreen"
export GRAFANA_KUBERNETES_EXPORTER_POD_PHASE_DASHBOARD="https://grafana.${REMOTE_HOST}/d/1xIGyoZZz/eks-metrics?orgId=1\&var-server_env={{ \$labels.server_env }}\&var-node_name={{ \$labels.node_name }}\&var-namespace={{ \$labels.namespace }}\&var-pod_name={{ \$labels.pod_name }}\&var-service_name={{ \$labels.service }}\&panelId=109\&fullscreen"
export GRAFANA_KUBERNETES_EXPORTER_CONTAINER_RESTARTS_DASHBOARD="https://grafana.${REMOTE_HOST}/d/1xIGyoZZz/eks-metrics?orgId=1\&var-server_env={{ \$labels.server_env }}\&var-node_name={{ \$labels.node_name }}\&var-namespace={{ \$labels.namespace }}\&var-pod_name={{ \$labels.pod_name }}\&var-service_name={{ \$labels.service }}\&var-container_name={{ \$labels.container_name }}\&panelId=102\&fullscreen"
export GRAFANA_KUBERNETES_EXPORTER_CONTAINER_READY_DASHBOARD="https://grafana.${REMOTE_HOST}/d/1xIGyoZZz/eks-metrics?orgId=1\&var-server_env={{ \$labels.server_env }}\&var-node_name={{ \$labels.node_name }}\&var-namespace={{ \$labels.namespace }}\&var-pod_name={{ \$labels.pod_name }}\&var-service_name={{ \$labels.service }}\&var-container_name={{ \$labels.container_name }}\&panelId=122\&fullscreen"
export GRAFANA_KUBERNETES_EXPORTER_HTTP_CHECK_DASHBOARD="https://grafana.${REMOTE_HOST}/d/1xIGyoZZz/eks-metrics?orgId=1\&var-server_env={{ \$labels.server_env }}\&var-service_name_http={{ \$labels.service_name_http }}\&panelId=127\&fullscreen"
export GRAFANA_KUBERNETES_NODE_EXPORTER_UP_DASHBOARD="https://grafana.${REMOTE_HOST}/d/1xIGyoZZz/eks-metrics?orgId=1\&var-server_env={{ \$labels.server_env }}\&var-node_name={{ \$labels.node_name }}\&var-namespace={{ \$labels.namespace }}\&var-pod_name={{ \$labels.pod_name }}\&var-service_name={{ \$labels.service }}\&panelId=146\&fullscreen"
export GRAFANA_KUBERNETES_NODE_EXPORTER_SCRAPE_DASHBOARD="https://grafana.${REMOTE_HOST}/d/1xIGyoZZz/eks-metrics?orgId=1\&var-server_env={{ \$labels.server_env }}\&var-node_name={{ \$labels.node_name }}\&var-namespace={{ \$labels.namespace }}\&var-pod_name={{ \$labels.pod_name }}\&var-service_name={{ \$labels.service }}\&panelId=147\&fullscreen"
export GRAFANA_MYSQL_DASHBOARD="https://grafana.${REMOTE_HOST}/d/RGx4RH-ik/monit-exporter?orgId=1\&var-node={{ \$labels.instance }}"
export GRAFANA_PROXYSQL_DASHBOARD="https://grafana.${REMOTE_HOST}/d/RGx4RH-ik/proxysql-overview?orgId=1\&var-proxysql={{ \$labels.instance }}\&var-hostgroup={{ \$labels.hostgroup }}"
export GRAFANA_DOCKER_EXPORTER_UP_DASHBOARD="https://grafana.${REMOTE_HOST}/d/Y6Pw9sNWz/containers-metrics-docker_exporter?panelId=111\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}"
export GRAFANA_DOCKER_EXPORTER_SCRAPE_DASHBOARD="https://grafana.${REMOTE_HOST}/d/Y6Pw9sNWz/containers-metrics-docker_exporter?panelId=113\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}"
export GRAFANA_DOCKER_EXPORTER_CONTAINER_STATE_DASHBOARD="https://grafana.${REMOTE_HOST}/d/Y6Pw9sNWz/containers-metrics-docker_exporter?panelId=101\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}\&var-container_name={{ \$labels.container_name }}"
export GRAFANA_CLOUDWATCH_EXPORTER_DASHBOARD="https://grafana.${REMOTE_HOST}/d/bVHuLEamz/all-fails"
export GRAFANA_POSTGRES_EXPORTER_UP_DASHBOARD="https://grafana.${REMOTE_HOST}/d/8DSedeoWk/postgresql-postgres_exporter?panelId=4\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}"
export GRAFANA_POSTGRES_EXPORTER_CONNECT_DASHBOARD="https://grafana.${REMOTE_HOST}/d/8DSedeoWk/postgresql-postgres_exporter?panelId=5\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}"
export GRAFANA_POSTGRES_EXPORTER_SCRAPE_DASHBOARD="https://grafana.${REMOTE_HOST}/d/8DSedeoWk/postgresql-postgres_exporter?panelId=6\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}"
export GRAFANA_POSTGRES_EXPORTER_CONNECTIONS_DASHBOARD="https://grafana.${REMOTE_HOST}/d/8DSedeoWk/postgresql-postgres_exporter?panelId=12\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}"
export GRAFANA_PROMETHEUS_UP_DASHBOARD="https://grafana.${REMOTE_HOST}/d/8UZEeGAZz/prometheus?panelId=6\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}\&var-instance={{ \$labels.instance }}"
export GRAFANA_PROMETHEUS_RELOAD_DASHBOARD="https://grafana.${REMOTE_HOST}/d/8UZEeGAZz/prometheus?panelId=5\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}\&var-instance={{ \$labels.instance }}"
export GRAFANA_PROMETHEUS_DIALER_DASHBOARD="https://grafana.${REMOTE_HOST}/d/8UZEeGAZz/prometheus?panelId=4\&fullscreen\&orgId=1\&var-server_env={{ \$labels.server_env }}\&var-project={{ \$labels.project }}\&var-hostname={{ \$labels.hostname }}\&var-instance={{ \$labels.instance }}\&var-dialer_name={{ \$labels.dialer_name }}"

#PROMETHEUS_FEDERATE_KUBER_PROD2_USER='monitoring'
#PROMETHEUS_FEDERATE_KUBER_PROD2_PASSWORD='00000000000000000000'

#CUSTOMER_MONITORING_SLACK='https://hooks.slack.com/services/000000000/000000000/000000000000000000000000'
#GRAFANA_METRICS_BASIC_AUTH_USERNAME="monitoring"
#GRAFANA_METRICS_BASIC_AUTH_PASSWORD="MY_GRAFANA_METRICS_BASIC_AUTH_PASSWORD"

# prod
#prod_AWS_ACCESS_KEY_ID='00000000000000000000'
#prod_AWS_SECRET_ACCESS_KEY='0000000000000000000000000000000000000000'
#prod_AWS_SES_SMTP_USER='00000000000000000000'
#prod_AWS_SES_SMTP_PASSWORD='00000000000000000000000000000000000000000000'

#postgres_exporter_prod_SECRET='postgresql://postgres_exporter:000000000000@prod-rds.aws.example.com:5432/postgres'
#redis_exporter_prod_SECRET='redis://prod-redis.cache.amazonaws.com:6379'
