  postgres-test:
    image: postgres:11.5
    volumes:
      - ./tests/postgres-exporter/postgres-test/data:/var/lib/postgresql/data
      - ./tests/postgres-exporter/postgres-test/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_PASSWORD: "test_password"
   #  POSTGRES_USER: "postgres"
   #  POSTGRES_DB: "test_db"
    restart: always
   #ports:
   #  - "5432:5432"

