GF_SERVER_ROOT_URL=https://grafana.{{ REMOTE_HOST }}
GF_SMTP_ENABLED=true
GF_SMTP_HOST=postfix-relay:25
GF_SMTP_FROM_ADDRESS=grafana@grafana.{{ REMOTE_HOST }}
GF_SMTP_SKIP_VERIFY=true
GF_METRICS_ENABLED=true
#GF_SMTP_USER=
#GF_SMTP_PASSWORD=
