# description: if file {{ node_exporter_textfile_directory }}/nproc.prom not exist - then cron job did not create it
CHECK FILE nproc_working_file-P3-team_noalert WITH PATH {{ node_exporter_textfile_directory }}/nproc.prom
  IF NOT EXIST FOR 6 CYCLES THEN alert

