[Unit]
Description=Prometheus node_exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter --collector.textfile.directory={{ node_exporter_textfile_directory }} --web.listen-address={{ node_exporter_listen_address }}:{{ node_exporter_listen_port }}
User={{ node_exporter_monitoring_user }} 
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

