# This file is managed by Ansible, don't make changes here - they will be overwritten.

[Unit]
Description=Pro-active monitoring utility for unix systems
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/monit -I
ExecStop=/usr/bin/monit quit
ExecReload=/usr/bin/monit reload
Restart=always

[Install]
WantedBy=multi-user.target
