[Unit]
Description=Prometheus node_exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/node_exporter --collector.textfile.directory=/home/monitoring/node_exporter/textfile_directory/ --web.listen-address=0.0.0.0:9100
User=monitoring 
Restart=always
RestartSec=10
StartLimitInterval=0

[Install]
WantedBy=multi-user.target

