WIKI_BASE_DOMAIN="example.com"
PROJECT="my_project"
ENV="dev"
CLUSTER_NAME="eks_${PROJECT}-${ENV}"
MAIN_DOMAIN="example.com"
PROMETHEUS_DOMAIN="prometheus.${ENV}.${MAIN_DOMAIN}"
ALERTMANAGER_DOMAIN="alertmanager.${ENV}.${MAIN_DOMAIN}"
GRAFANA_DOMAIN="grafana.${ENV}.${MAIN_DOMAIN}"

