
  pingdom-exporter:
    image: shalb/pingdom-exporter:0.0.1
   #volumes:
   #  - ./pingdom-exporter/pingdom_exporter.py.yml:/opt/pingdom/pingdom_exporter.py.yml
    restart: always
   #ports:
   #  - "9158:9158"
    env_file:
      - ./pingdom-exporter/env
      - ./pingdom-exporter/env_secrets

