# {{ ansible_managed }}

CHECK PROCESS {{ services['mmonit']['name'] }} MATCHING "{{ services['mmonit']['regexp'] }}"
  IF NOT EXIST FOR 1 CYCLES THEN {{ services['mmonit']['action'] }}
{% if services['mmonit']['action'] != "alert" %}
  REPEAT EVERY {{ services['mmonit']['repeat_interval'] }} CYCLES
{% endif %}
  IF FAILED PORT {{ services['mmonit']['port'] }} PROTOCOL https REQUEST "/" FOR 1 CYCLES THEN alert
  group mmonit

