# {{ ansible_managed }}

CHECK PROCESS {{ services['mysql']['name'] }} MATCHING "{{ services['mysql']['regexp'] }}"
  IF NOT EXIST FOR 1 CYCLES THEN {{ services['mysql']['action'] }}
{% if services['mysql']['action'] != "alert" %}
  REPEAT EVERY {{ services['mysql']['repeat_interval'] }} CYCLES
{% endif %}
  IF FAILED PORT {{ services['mysql']['port'] }} PROTOCOL mysql FOR 1 CYCLES THEN alert
  group mysql

{% if services['mysql'].get('replication') %}
CHECK PROGRAM mysql_seconds_behind_master WITH PATH "/usr/local/scripts/monit/mysql_seconds_behind_master.sh 1200 1800"
  IF STATUS = 1 FOR 10 CYCLES THEN alert
  depends on mysql
  group mysql
{% endif %}

