# {{ ansible_managed }}

CHECK PROCESS {{ services['node_exporter']['name'] }} MATCHING "{{ services['node_exporter']['regexp'] }}"
  IF NOT EXIST FOR 1 CYCLES THEN {{ services['node_exporter']['action'] }}
{% if services['node_exporter']['action'] != "alert" %}
  REPEAT EVERY {{ services['node_exporter']['repeat_interval'] }} CYCLES
{% endif %}
{% if services['node_exporter'].get('port') %}
  IF FAILED PORT {{ services['node_exporter']['port'] }} FOR 1 CYCLES THEN alert
{% endif %}
  group {{ services['node_exporter']['name'] }}

