# {{ ansible_managed }}

{% if remote_hosts_to_check.get('https') %}
{% for item in remote_hosts_to_check['https'] %}
CHECK HOST {{ item['name'] }} WITH ADDRESS {{ item['address'] }}
  IF FAILED
    PORT {{ item['port'] }} PROTOCOL https
    HTTP HEADERS [Host: "{{ item['host'] }}"]
    REQUEST "{{ item['request'] }}"
    FOR 1 CYCLES
  THEN alert

{% endfor %}
{% endif %}

{% if remote_hosts_to_check.get('http') %}
{% for item in remote_hosts_to_check['http'] %}
CHECK HOST {{ item['name'] }} WITH ADDRESS {{ item['address'] }}
  IF FAILED
    PORT {{ item['port'] }} PROTOCOL http
    HTTP HEADERS [Host: "{{ item['host'] }}"]
    REQUEST "{{ item['request'] }}"
    FOR 1 CYCLES
  THEN alert

{% endfor %}
{% endif %}

{% if remote_hosts_to_check.get('websocket') %}
{% for item in remote_hosts_to_check['websocket'] %}
CHECK HOST {{ item['name'] }} WITH ADDRESS {{ item['address'] }}
  IF FAILED
    PORT {{ item['port'] }} PROTOCOL websocket
    HOST {{ item['host'] }}
    REQUEST {{ item['request'] }}
    ORIGIN 'origin'
    VERSION 13
    FOR 1 CYCLES
  THEN alert

{% endfor %}
{% endif %}

{% if remote_hosts_to_check.get('ssh') %}
{% for item in remote_hosts_to_check['ssh'] %}
CHECK HOST {{ item['name'] }} WITH ADDRESS {{ item['address'] }}
  IF FAILED
    PORT {{ item['port'] }} PROTOCOL ssh
    FOR 1 CYCLES
  THEN alert

{% endfor %}
{% endif %}

