apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
---
apiVersion: v1
kind: Secret
metadata:
  name: prometheus-main-basic-auth
  namespace: monitoring
type: Opaque
data:
  auth: {{ INGRESS_HTTP_AUTH }}
